<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PresentAndDismiss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95C465551CA923DB000BDC78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C4656E1CA923DC000BDC78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95C465791CA923DC000BDC78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
